{{ define "main" }}

<section class="section-sm">
  <div class="container">
    <div class="row">
      <div class="col-lg-8 mx-auto">
        {{ range .Params.Categories }}
        <a href="{{ `categories/` | relLangURL }}{{ . | urlize | lower }}"
          class="text-primary">{{ . | title | humanize }}</a>
        {{ end }}
        <br>
        {{ range .Params.Tags }}
        <a href="{{ `tags/` | relLangURL }}{{ . | urlize | lower }}"
           class="text-primary">#{{ . | title | humanize }}</a>
        {{ end }}
        <h2>{{ .Title | markdownify }}</h2>
<!--        <div class="mb-3 post-meta">-->
<!--          <span>{{if .Params.Author}}{{ .Params.Author }}{{else}}{{.Site.Params.Author}}{{end}}</span>-->
<!--          {{ if not .Params.HideDate }}-->
<!--          <span class="border-bottom border-primary px-2 mx-1"></span>-->
<!--          <span>{{ .PublishDate.Format "02.01.2006" }}</span>-->
<!--          {{ end }}-->
<!--        </div>-->
        {{ if .Params.image }}
        <img src="{{ .Params.Image | absURL }}" class="img-fluid w-100 mb-4" alt="{{ .Title | markdownify }}">
        {{ end }}
        <div class="content mb-5">
          {{ .Content }}
        </div>
        <br>
        {{ range .Params.Tags }}
        <a href="{{ `tags/` | relLangURL }}{{ . | urlize | lower }}"
           class="text-primary">#{{ . | title | humanize }}</a>
        {{ end }}
        <!-- comments -->
        {{ template "_internal/disqus.html" . }}
      </div>
      <!-- sidebar -->
      {{ partial "sidebar.html" . }}
      <!-- /sidebar -->
    </div>
  </div>
</section>

{{ end }}
