{{ define "main" }}

<section class="section">
  <div class="container">
    <div class="row justify-content-center">
      <div class="col-lg-10">
        <h1>Результаты поиска:</h1>
        <div id="search-results"></div>
        <script id="search-result-template" type="text/x-js-template">
          <div class="py-4 border-bottom" id="summary-${key}">
            <h4><a href="${link}">${title}</a></h4>
            <p>${snippet}</p>
            ${ isset tags }<p>Теги: ${tags}</p>${ end }
            ${ isset categories }<p>Категории: ${categories}</p>${ end }
          </div>
        </script>
      </div>
    </div>
  </div>
</section>

{{ end }}
